<!DOCTYPE html>
<html>
<head>
    <title>Genesis | Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>👁️‍🗨️ Genesis</h1>
        <h2>The Beginner of Judgment</h2>
        <div class="youtube-promo">
            <p>🎬 Check out my tutorials and projects on YouTube!</p>
            <a href="http://www.youtube.com/@jameschandamapipo" target="_blank">
                <img src="{{ url_for('static', filename='ytbanner.png') }}" alt="Visit YouTube Channel" style="max-width: 100%; border: 2px solid #00ff00;">
            </a>
        </div>
        
        <p>Programmer | Hacker in Training | Software Destroyer & Repairer | Web Designer | YouTuber</p>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/services">Services</a>
            <a href="/projects">Projects</a>
            <a href="/contact">Contact</a>
            <a href="/skills">My Skills</a>
            <a href="/terminal">Genesis Terminal</a>
            <a href="/tools">Genesis Arsenal</a>
            <a href="/portfolio">Portfolio</a>
            <a href="/blog">Blog</a>

            <a href="http://www.youtube.com/@jameschandamapipo" target="_blank">YouTube 🎥</a>
        </nav>
       
    </div>
    <script src="{{ url_for('static', filename='matrix.js') }}"></script>
</body>
</html>
