{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="terminal-header">Welcome to the Genesis Network</div>
<div class="terminal-body">
  <p class="scanline">> System Initializing... DONE</p>
  <p class="scanline">> Loading Core Modules... DONE</p>
  <p class="scanline">> Status: <span class="highlight">ONLINE</span></p>
  <br>
  <p>// We are the architects of the new digital frontier.</p>
  <p>// A collective of hackers, coders, and creators.</p>
  <p>// Our mission: To build, to break, to innovate.</p>
  <br>
  <p class="highlight">// Explore our network using the navigation above.</p>
</div>
{% endblock %}